<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords"
        content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Dreamss Pos admin template</title>

    <link rel="shortcut icon" type="image/x-icon" href="/template/img/favicon.jpg">

    <link rel="stylesheet" href="/template/css/bootstrap.min.css">

    <link rel="stylesheet" href="/template/css/animate.css">

    <link rel="stylesheet" href="/template/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="/template/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/template/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/template/css/style.css">
</head>

<body>
    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>

    <div class="main-wrapper">


        <%- include('../../components/header.ejs')%>
            <%- include('../../components/sidebar.ejs')%>

                <div class="page-wrapper">

                    <div class="content">
                        <div class="page-header">
                            <div class="page-title">
                                <h4>Product List</h4>
                                <h6>Manage your products</h6>
                            </div>
                            <div class="page-btn d-flex">
                                <a href="/admin/product-statistics" class="btn btn-primary me-2 btn-added">
                                    <i class="fa fa-chart-bar"></i> Statistics
                                </a>
                                
                                <a href="addproduct" class="btn btn-added"><img src="/template/img/icons/plus.svg"
                                        alt="img" class="me-1">Add New Product</a>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="table-top">
                                    <div class="search-set">
                                        <div class="search-path">
                                            <a class="btn btn-filter" id="filter_search">
                                                <img src="/template/img/icons/filter.svg" alt="img">
                                                <span><img src="/template/img/icons/closes.svg" alt="img"></span>
                                            </a>
                                        </div>
                                        <div class="search-input">
                                            <form action="/admin/product-search" method="GET">
                                                <button type="submit" class="btn btn-searchset"><img src="/template/img/icons/search-white.svg"
                                                        alt="img"></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="wordset">
                                        <ul>
                                            <li>
                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                                        src="/template/img/icons/pdf.svg" alt="img"></a>
                                            </li>
                                            <li>
                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                                        src="/template/img/icons/excel.svg" alt="img"></a>
                                            </li>
                                            <li>
                                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                                        src="/template/img/icons/printer.svg" alt="img"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table datanew">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="checkboxs">
                                                        <input type="checkbox" id="select-all">
                                                        <span class="checkmarks"></span>
                                                    </label>
                                                </th>
                                                <th>Product Name</th>
                                                <th>Category </th>
                                                <th>Brand</th>
                                                <th>Price</th>
                                                <th>Qty</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (products && products.length> 0) { %>
                                                <% products.forEach(function(product) { %>
                                                    <tr>
                                                        <td>
                                                            <label class="checkboxs">
                                                                <input type="checkbox">
                                                                <span class="checkmarks"></span>
                                                            </label>
                                                        </td>
                                                        <td >
                                                            
                                                            
                                                                <%= product.title %>
                                                            
                                                        </td>
                                                        <td>
                                                            <%= product.categoryName || 'N/A' %>
                                                        </td>
                                                        <td>
                                                            <%= product.brandName || 'N/A' %>
                                                        </td>
                                                        <td>
                                                            <%= product.price %>
                                                        </td>
                                                        <td>
                                                            <%= product.quantity %>
                                                        </td>
                                                        <td>
                                                            <a class="me-3" href="/admin/productdetail/<%= product._id %>">
                                                                <img src="/template/img/icons/eye.svg" alt="img">
                                                            </a>
                                                            <a class="me-3" href="/admin/editproduct/<%= product._id %>">
                                                                <img src="/template/img/icons/edit.svg" alt="img">
                                                            </a>
                                                            <form action="/admin/delete-product" method="POST"
                                                                style="display:inline;">
                                                                <input type="hidden" name="productId"
                                                                    value="<%= product._id %>">
                                                                <button type="submit"
                                                                    class="btn-link border-0 bg-transparent p-0">
                                                                    <img src="/template/img/icons/delete.svg" alt="img">
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                                        <% } else { %>
                                                            <tr>
                                                                <td colspan="7" class="text-center">No products found
                                                                </td>
                                                            </tr>
                                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>





    <script src="/template/js/jquery-3.6.0.min.js"></script>

    <script src="/template/js/feather.min.js"></script>

    <script src="/template/js/jquery.slimscroll.min.js"></script>

    <script src="/template/js/jquery.dataTables.min.js"></script>
    <script src="/template/js/dataTables.bootstrap4.min.js"></script>

    <script src="/template/js/bootstrap.bundle.min.js"></script>

    <script src="/template/plugins/apexchart/apexcharts.min.js"></script>
    <script src="/template/plugins/apexchart/chart-data.js"></script>

    <script src="/template/js/script.js"></script>
</body>

</html>