<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li >
                    <a href=""><img src="/template/img/icons/users1.svg" alt="img"><span>Nguyên Trường</span></a>
                </li>
                <li class="<%= path === '/admin/product-statistics' ? 'active' : '' %>">
                    <a href="/admin/product-statistics"><img src="/template/img/icons/dashboard.svg" alt="img"><span>Dashboard</span></a>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" class="<%= (path.includes('/admin/product') || path.includes('/admin/category') || path.includes('/admin/brand')) && path !== '/admin/product-statistics' ? 'active-parent' : '' %>"><img src="/template/img/icons/product.svg" alt="img"><span>
                            Product</span> <span class="menu-arrow"></span></a>
                    <ul class="<%= (path.includes('/admin/product') || path.includes('/admin/category') || path.includes('/admin/brand')) && path !== '/admin/product-statistics' ? 'mm-show' : '' %>">
                        <li><a href="/admin/productlist" class="<%= path === '/admin/productlist' ? 'active' : '' %>">Product List</a></li>
                        <li><a href="/admin/addproduct" class="<%= path === '/admin/addproduct' ? 'active' : '' %>">Add Product</a></li>
                        <li><a href="/admin/categorylist" class="<%= path === '/admin/categorylist' ? 'active' : '' %>">Category List</a></li>
                        <li><a href="/admin/addcategory" class="<%= path === '/admin/addcategory' ? 'active' : '' %>">Add Category</a></li>
                        <li><a href="/admin/brandlist" class="<%= path === '/admin/brandlist' ? 'active' : '' %>">Brand List</a></li>
                        <li><a href="/admin/addbrand" class="<%= path === '/admin/addbrand' ? 'active' : '' %>">Add Brand</a></li>
                        
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" class="<%= path.includes('/admin/order') ? 'active-parent' : '' %>">
                        <img src="/template/img/icons/product.svg" alt="img">
                        <span>Order</span> 
                        <span class="badge badge-danger rounded-pill" style="font-size: 8px;">Mới</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="<%= path.includes('/admin/order') ? 'mm-show' : '' %>">
                        <li>
                            <a href="/admin/orders" class="<%= path === '/admin/orders' ? 'active' : '' %>">
                                <i class="fas fa-list me-2"></i>
                                <span class="<%= path === '/admin/orders' ? 'mm-active' : '' %>">List Order</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/cancel-requests" class="<%= path === '/admin/cancel-requests' ? 'active' : '' %>">
                                <i class="fas fa-times-circle me-2"></i>
                                <span class="<%= path === '/admin/cancel-requests' ? 'mm-active' : '' %>">Yêu cầu huỷ đơn</span>
                                <span class="badge badge-warning rounded-pill ms-2" style="font-size: 8px;">Mới</span>
                            </a>
                        </li>
                        <!--   -->
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" class="<%= path.includes('/admin/sales') ? 'active-parent' : '' %>"><img src="/template/img/icons/sales1.svg" alt="img"><span>
                            Sales</span> <span class="menu-arrow"></span></a>
                    <ul class="<%= path.includes('/admin/sales') ? 'mm-show' : '' %>">
                        <li><a href="saleslist.html" class="<%= path === '/admin/saleslist' ? 'active' : '' %>">Sales List</a></li>
                        <li><a href="pos.html" class="<%= path === '/admin/pos' ? 'active' : '' %>">POS</a></li>
                        <li><a href="pos.html" class="<%= path === '/admin/newsales' ? 'active' : '' %>">New Sales</a></li>
                        <li><a href="salesreturnlists.html" class="<%= path === '/admin/salesreturnlists' ? 'active' : '' %>">Sales Return List</a></li>
                        <li><a href="createsalesreturns.html" class="<%= path === '/admin/createsalesreturns' ? 'active' : '' %>">New Sales Return</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" class="<%= path.includes('/admin/purchase') ? 'active-parent' : '' %>"><img src="/template/img/icons/purchase1.svg" alt="img"><span>
                            Purchase</span> <span class="menu-arrow"></span></a>
                    <ul class="<%= path.includes('/admin/purchase') ? 'mm-show' : '' %>">
                        <li><a href="purchaselist.html" class="<%= path === '/admin/purchaselist' ? 'active' : '' %>">Purchase List</a></li>
                        <li><a href="addpurchase.html" class="<%= path === '/admin/addpurchase' ? 'active' : '' %>">Add Purchase</a></li>
                        <li><a href="importpurchase.html" class="<%= path === '/admin/importpurchase' ? 'active' : '' %>">Import Purchase</a></li>
                    </ul>
                </li>
                <li class="submenu <%= path.includes('/admin/expense') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><img src="/template/img/icons/expense1.svg" alt="img"><span>
                            Expense</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="expenselist.html" class="<%= path === '/admin/expenselist' ? 'active' : '' %>">Expense List</a></li>
                        <li><a href="createexpense.html" class="<%= path === '/admin/createexpense' ? 'active' : '' %>">Add Expense</a></li>
                        <li><a href="expensecategory.html" class="<%= path === '/admin/expensecategory' ? 'active' : '' %>">Expense Category</a></li>
                    </ul>
                </li>
                <li class="submenu <%= path.includes('/admin/quotation') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><img src="/template/img/icons/quotation1.svg" alt="img"><span>
                            Quotation</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="quotationList.html" class="<%= path === '/admin/quotationList' ? 'active' : '' %>">Quotation List</a></li>
                        <li><a href="addquotation.html" class="<%= path === '/admin/addquotation' ? 'active' : '' %>">Add Quotation</a></li>
                    </ul>
                </li>
                <li class="submenu <%= path.includes('/admin/transfer') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><img src="/template/img/icons/transfer1.svg" alt="img"><span>
                            Transfer</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="transferlist.html" class="<%= path === '/admin/transferlist' ? 'active' : '' %>">Transfer List</a></li>
                        <li><a href="addtransfer.html" class="<%= path === '/admin/addtransfer' ? 'active' : '' %>">Add Transfer </a></li>
                        <li><a href="importtransfer.html" class="<%= path === '/admin/importtransfer' ? 'active' : '' %>">Import Transfer </a></li>
                    </ul>
                </li>
                <li class="submenu <%= path.includes('/admin/return') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><img src="/template/img/icons/return1.svg" alt="img"><span>
                            Return</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="salesreturnlist.html" class="<%= path === '/admin/salesreturnlist' ? 'active' : '' %>">Sales Return List</a></li>
                        <li><a href="createsalesreturn.html" class="<%= path === '/admin/createsalesreturn' ? 'active' : '' %>">Add Sales Return </a></li>
                        <li><a href="purchasereturnlist.html" class="<%= path === '/admin/purchasereturnlist' ? 'active' : '' %>">Purchase Return List</a></li>
                        <li><a href="createpurchasereturn.html" class="<%= path === '/admin/createpurchasereturn' ? 'active' : '' %>">Add Purchase Return </a></li>
                    </ul>
                </li>
                <li class="submenu <%= path.includes('/admin/people') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><img src="/template/img/icons/users1.svg" alt="img"><span>
                            People</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="customerlist.html" class="<%= path === '/admin/customerlist' ? 'active' : '' %>">Customer List</a></li>
                        <li><a href="addcustomer.html" class="<%= path === '/admin/addcustomer' ? 'active' : '' %>">Add Customer </a></li>
                        <li><a href="supplierlist.html" class="<%= path === '/admin/supplierlist' ? 'active' : '' %>">Supplier List</a></li>
                        <li><a href="addsupplier.html" class="<%= path === '/admin/addsupplier' ? 'active' : '' %>">Add Supplier </a></li>
                        <li><a href="userlist.html" class="<%= path === '/admin/userlist' ? 'active' : '' %>">User List</a></li>
                        <li><a href="adduser.html" class="<%= path === '/admin/adduser' ? 'active' : '' %>">Add User</a></li>
                        <li><a href="storelist.html" class="<%= path === '/admin/storelist' ? 'active' : '' %>">Store List</a></li>
                        <li><a href="addstore.html" class="<%= path === '/admin/addstore' ? 'active' : '' %>">Add Store</a></li>
                    </ul>
                </li>
                <li class="submenu <%= path.includes('/admin/places') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><img src="/template/img/icons/places.svg" alt="img"><span>
                            Places</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="newcountry.html" class="<%= path === '/admin/newcountry' ? 'active' : '' %>">New Country</a></li>
                        <li><a href="countrieslist.html" class="<%= path === '/admin/countrieslist' ? 'active' : '' %>">Countries list</a></li>
                        <li><a href="newstate.html" class="<%= path === '/admin/newstate' ? 'active' : '' %>">New State </a></li>
                        <li><a href="statelist.html" class="<%= path === '/admin/statelist' ? 'active' : '' %>">State list</a></li>
                    </ul>
                </li>
                <li class="<%= path === '/admin/components' ? 'active' : '' %>">
                    <a href="components.html"><i data-feather="layers"></i><span> Components</span> </a>
                </li>
                <li class="<%= path === '/admin/blankpage' ? 'active' : '' %>">
                    <a href="blankpage.html"><i data-feather="file"></i><span> Blank Page</span> </a>
                </li>
                <li class="submenu <%= path.includes('/admin/error') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><i data-feather="alert-octagon"></i> <span> Error Pages
                        </span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="error-404.html" class="<%= path === '/admin/error-404' ? 'active' : '' %>">404 Error </a></li>
                        <li><a href="error-500.html" class="<%= path === '/admin/error-500' ? 'active' : '' %>">500 Error </a></li>
                    </ul>
                </li>
                <li class="submenu <%= path.includes('/admin/elements') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><i data-feather="box"></i> <span>Elements </span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="sweetalerts.html" class="<%= path === '/admin/sweetalerts' ? 'active' : '' %>">Sweet Alerts</a></li>
                        <li><a href="tooltip.html" class="<%= path === '/admin/tooltip' ? 'active' : '' %>">Tooltip</a></li>
                        <li><a href="popover.html" class="<%= path === '/admin/popover' ? 'active' : '' %>">Popover</a></li>
                        <li><a href="ribbon.html" class="<%= path === '/admin/ribbon' ? 'active' : '' %>">Ribbon</a></li>
                        <li><a href="clipboard.html" class="<%= path === '/admin/clipboard' ? 'active' : '' %>">Clipboard</a></li>
                        <li><a href="drag-drop.html" class="<%= path === '/admin/drag-drop' ? 'active' : '' %>">Drag & Drop</a></li>
                        <li><a href="rangeslider.html" class="<%= path === '/admin/rangeslider' ? 'active' : '' %>">Range Slider</a></li>
                        <li><a href="rating.html" class="<%= path === '/admin/rating' ? 'active' : '' %>">Rating</a></li>
                        <li><a href="toastr.html" class="<%= path === '/admin/toastr' ? 'active' : '' %>">Toastr</a></li>
                        <li><a href="text-editor.html" class="<%= path === '/admin/text-editor' ? 'active' : '' %>">Text Editor</a></li>
                        <li><a href="counter.html" class="<%= path === '/admin/counter' ? 'active' : '' %>">Counter</a></li>
                        <li><a href="scrollbar.html" class="<%= path === '/admin/scrollbar' ? 'active' : '' %>">Scrollbar</a></li>
                        <li><a href="spinner.html" class="<%= path === '/admin/spinner' ? 'active' : '' %>">Spinner</a></li>
                        <li><a href="notification.html" class="<%= path === '/admin/notification' ? 'active' : '' %>">Notification</a></li>
                        <li><a href="lightbox.html" class="<%= path === '/admin/lightbox' ? 'active' : '' %>">Lightbox</a></li>
                        <li><a href="stickynote.html" class="<%= path === '/admin/stickynote' ? 'active' : '' %>">Sticky Note</a></li>
                        <li><a href="timeline.html" class="<%= path === '/admin/timeline' ? 'active' : '' %>">Timeline</a></li>
                        <li><a href="form-wizard.html" class="<%= path === '/admin/form-wizard' ? 'active' : '' %>">Form Wizard</a></li>
                    </ul>
                </li>
                <li class="submenu <%= path.includes('/admin/charts') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><i data-feather="bar-chart-2"></i> <span> Charts </span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="chart-apex.html" class="<%= path === '/admin/chart-apex' ? 'active' : '' %>">Apex Charts</a></li>
                        <li><a href="chart-js.html" class="<%= path === '/admin/chart-js' ? 'active' : '' %>">Chart Js</a></li>
                        <li><a href="chart-morris.html" class="<%= path === '/admin/chart-morris' ? 'active' : '' %>">Morris Charts</a></li>
                        <li><a href="chart-flot.html" class="<%= path === '/admin/chart-flot' ? 'active' : '' %>">Flot Charts</a></li>
                        <li><a href="chart-peity.html" class="<%= path === '/admin/chart-peity' ? 'active' : '' %>">Peity Charts</a></li>
                    </ul>
                </li>
                <li class="submenu <%= path.includes('/admin/icons') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><i data-feather="award"></i><span> Icons </span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="icon-fontawesome.html" class="<%= path === '/admin/icon-fontawesome' ? 'active' : '' %>">Fontawesome Icons</a></li>
                        <li><a href="icon-feather.html" class="<%= path === '/admin/icon-feather' ? 'active' : '' %>">Feather Icons</a></li>
                        <li><a href="icon-ionic.html" class="<%= path === '/admin/icon-ionic' ? 'active' : '' %>">Ionic Icons</a></li>
                        <li><a href="icon-material.html" class="<%= path === '/admin/icon-material' ? 'active' : '' %>">Material Icons</a></li>
                        <li><a href="icon-pe7.html" class="<%= path === '/admin/icon-pe7' ? 'active' : '' %>">Pe7 Icons</a></li>
                        <li><a href="icon-simpleline.html" class="<%= path === '/admin/icon-simpleline' ? 'active' : '' %>">Simpleline Icons</a></li>
                        <li><a href="icon-themify.html" class="<%= path === '/admin/icon-themify' ? 'active' : '' %>">Themify Icons</a></li>
                        <li><a href="icon-weather.html" class="<%= path === '/admin/icon-weather' ? 'active' : '' %>">Weather Icons</a></li>
                        <li><a href="icon-typicon.html" class="<%= path === '/admin/icon-typicon' ? 'active' : '' %>">Typicon Icons</a></li>
                        <li><a href="icon-flag.html" class="<%= path === '/admin/icon-flag' ? 'active' : '' %>">Flag Icons</a></li>
                    </ul>
                </li>
                <li class="submenu <%= path.includes('/admin/forms') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><i data-feather="columns"></i> <span> Forms </span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="form-basic-inputs.html" class="<%= path === '/admin/form-basic-inputs' ? 'active' : '' %>">Basic Inputs </a></li>
                        <li><a href="form-input-groups.html" class="<%= path === '/admin/form-input-groups' ? 'active' : '' %>">Input Groups </a></li>
                        <li><a href="form-horizontal.html" class="<%= path === '/admin/form-horizontal' ? 'active' : '' %>">Horizontal Form </a></li>
                        <li><a href="form-vertical.html" class="<%= path === '/admin/form-vertical' ? 'active' : '' %>"> Vertical Form </a></li>
                        <li><a href="form-mask.html" class="<%= path === '/admin/form-mask' ? 'active' : '' %>">Form Mask </a></li>
                        <li><a href="form-validation.html" class="<%= path === '/admin/form-validation' ? 'active' : '' %>">Form Validation </a></li>
                        <li><a href="form-select2.html" class="<%= path === '/admin/form-select2' ? 'active' : '' %>">Form Select2 </a></li>
                        <li><a href="form-fileupload.html" class="<%= path === '/admin/form-fileupload' ? 'active' : '' %>">File Upload </a></li>
                    </ul>
                </li>
                <li class="submenu <%= path.includes('/admin/tables') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><i data-feather="layout"></i> <span> Table </span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="tables-basic.html" class="<%= path === '/admin/tables-basic' ? 'active' : '' %>">Basic Tables </a></li>
                        <li><a href="data-tables.html" class="<%= path === '/admin/data-tables' ? 'active' : '' %>">Data Table </a></li>
                    </ul>
                </li>
                <li class="submenu <%= path.includes('/admin/application') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><img src="/template/img/icons/product.svg" alt="img"><span>
                            Application</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="chat.html" class="<%= path === '/admin/chat' ? 'active' : '' %>">Chat</a></li>
                        <li><a href="calendar.html" class="<%= path === '/admin/calendar' ? 'active' : '' %>">Calendar</a></li>
                        <li><a href="email.html" class="<%= path === '/admin/email' ? 'active' : '' %>">Email</a></li>
                    </ul>
                </li>
                <li class="submenu <%= path.includes('/admin/report') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><img src="/template/img/icons/time.svg" alt="img"><span>
                            Report</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="purchaseorderreport.html" class="<%= path === '/admin/purchaseorderreport' ? 'active' : '' %>">Purchase order report</a></li>
                        <li><a href="inventoryreport.html" class="<%= path === '/admin/inventoryreport' ? 'active' : '' %>">Inventory Report</a></li>
                        <li><a href="salesreport.html" class="<%= path === '/admin/salesreport' ? 'active' : '' %>">Sales Report</a></li>
                        <li><a href="invoicereport.html" class="<%= path === '/admin/invoicereport' ? 'active' : '' %>">Invoice Report</a></li>
                        <li><a href="purchasereport.html" class="<%= path === '/admin/purchasereport' ? 'active' : '' %>">Purchase Report</a></li>
                        <li><a href="supplierreport.html" class="<%= path === '/admin/supplierreport' ? 'active' : '' %>">Supplier Report</a></li>
                        <li><a href="customerreport.html" class="<%= path === '/admin/customerreport' ? 'active' : '' %>">Customer Report</a></li>
                    </ul>
                </li>
                <li class="submenu <%= path.includes('/admin/users') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><img src="/template/img/icons/users1.svg" alt="img"><span>
                            Users</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="newuser.html" class="<%= path === '/admin/newuser' ? 'active' : '' %>">New User </a></li>
                        <li><a href="userlists.html" class="<%= path === '/admin/userlists' ? 'active' : '' %>">Users List</a></li>
                    </ul>
                </li>
                <li class="submenu <%= path.includes('/admin/settings') ? 'active' : '' %>">
                    <a href="javascript:void(0);"><img src="/template/img/icons/settings.svg" alt="img"><span>
                            Settings</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="generalsettings.html" class="<%= path === '/admin/generalsettings' ? 'active' : '' %>">General Settings</a></li>
                        <li><a href="emailsettings.html" class="<%= path === '/admin/emailsettings' ? 'active' : '' %>">Email Settings</a></li>
                        <li><a href="paymentsettings.html" class="<%= path === '/admin/paymentsettings' ? 'active' : '' %>">Payment Settings</a></li>
                        <li><a href="currencysettings.html" class="<%= path === '/admin/currencysettings' ? 'active' : '' %>">Currency Settings</a></li>
                        <li><a href="grouppermissions.html" class="<%= path === '/admin/grouppermissions' ? 'active' : '' %>">Group Permissions</a></li>
                        <li><a href="taxrates.html" class="<%= path === '/admin/taxrates' ? 'active' : '' %>">Tax Rates</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>